<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-3">
                <button mat-raised-button type="submit" routerLink="/add-deployment" class="btn btn-danger pull-right" style="width:100%;">Add New Deployment
                    </button>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3">
                <button mat-raised-button type="submit" routerLink="/csv-upload" class="btn btn-danger pull-right" style="width:100%;">Upload File
                    </button>
                <div class="clearfix"></div> -->
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Deployment Notes</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Terminal Type
                                    </th>
                                    <th>
                                        Deployment Note Number
                                    </th>
                                    <th>
                                        Merchant Code
                                    </th>
                                    <th>
                                        Merchant Name
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th>
                                        Deployed By
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Kwenga
                                        </td>
                                        <td>
                                            D457SE76
                                        </td>
                                        <td>
                                            334576
                                        </td>
                                        <td class="text-primary">
                                            ecocash
                                        </td>
                                        <td class="text-primary">
                                            101 union
                                        </td>
                                        <td class="text-primary">
                                            25/06/2019
                                        </td>
                                        <td class="text-primary">
                                            <!-- <div class="col-md-1"> -->
                                                <button mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                    </button>
                                                <!-- <div class="clearfix"></div> -->
                                                <!-- </div> -->
                                        </td>
                                        <td>
                                                <!-- <div class="col-md-1"> -->
                                                <button mat-raised-button type="button" matTooltip="delete" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">delete</i>
                                                    </button>
                                                <!-- <div class="clearfix"></div> -->
                                            <!-- </div> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-6">
                <button mat-raised-button type="submit" routerLink="/add-deployment" class="btn btn-danger pull-right" style="width:100%;">Add New Deployment
                    </button>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
                <button mat-raised-button type="submit" routerLink="/csv-upload" class="btn btn-danger pull-right" style="width:100%;">Upload File
                    </button>
                <div class="clearfix"></div>
            </div>
    </div>
</div>