<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.stewardbank.co.zw">
                        Steward Bank
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, POS Stocks
            <a href="" target="_blank">POS Stocks</a>
        </div>
    </div>
</footer>