<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Deployment Notes</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form (ngSubmit)="addDeployment()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder = "Merchant Code" type = "text" id = 'merchantCode'  name="merchantCode" [(ngModel)]='addDeployments.merchantCode'>
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder = "Terminal Type" type = "text"  >
                  </mat-form-field>
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Deployment Note Number" type="text" name = 'deploymentNoteNumber'  [(ngModel)]='addDeployments.deploymentNoteNumber'>
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Physical Terminal ID" type="text" >
                  </mat-form-field>
                </div> -->
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Merchant Name" type="text" name = 'merchantName' [(ngModel)]='addDeployments.merchantName'>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Merchant Phone Number" type="text" name ='merchantPhoneNumber'  [(ngModel)]='addDeployments.merchantPhoneNumber' >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Physical Address" type="text" name = 'address'  [(ngModel)]='addDeployments.address'>
                      </mat-form-field>
                    </div>
                  </div>
                <div class="row">
                   <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="City" type="text" name = 'city' [(ngModel)]='addDeployments.city'>
                        </mat-form-field>
                   </div>
                </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Create Deployment Note</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>