<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-3">
                        <button mat-raised-button type="submit" routerLink="/add-terminal" class="btn btn-danger pull-right" style="width:100%;">Add New Terminal
                            </button>
                        <div class="clearfix"></div>
                    </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Terminal</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Make
                                    </th>
                                    <th>
                                        Model
                                    </th>
                                    <!-- <th>
                                        Physical Terminal ID
                                    </th> -->
                                    <th>
                                        Terminal Type
                                    </th>
                                    <!-- <th>
                                        Deployed/Rented Out
                                    </th> -->
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                    
                                    

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <!-- <td class="text-primary">
                                            $36,738
                                        </td> -->
                                        <!-- <td class="text-primary">
                                            $36,738
                                        </td> -->
                                        <td>
                                            20/11/2019
                                        </td>
                                        <td class="text-primary">
                                            <!-- <div class="col-md-1"> -->
                                                <button mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                    </button>
                                                <!-- <div class="clearfix"></div> -->
                                                <!-- </div> -->
                                        </td>
                                        <td>
                                                <!-- <div class="col-md-1"> -->
                                                <button mat-raised-button type="button" matTooltip="Delete" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">delete</i>
                                                    </button>
                                                <!-- <div class="clearfix"></div> -->
                                            <!-- </div> -->
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>