<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form (ngSubmit)="createUser()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" id="username" [(ngModel)]='userProfile.username' name = 'username'>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email" id="email" [(ngModel)]='userProfile.email' name = 'email'>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Full Name" type="text" id="name" [(ngModel)]='userProfile.name' name = 'name' >
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Password" type="password" id="password" [(ngModel)]='userProfile.password' name = 'password'>
                    </mat-form-field>
                  </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Create Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>